Repository Josmateussilva0110/EVOLVERE, pull requests merged in 2025-09, with the labels that each got.

#12 feat: estrutura inicial das páginas Home e Saiba Mais
  frontend/src/App.jsx
  frontend/src/components/pages/Home.jsx
  frontend/src/components/pages/auth/Login.jsx
  frontend/src/components/pages/public/About.jsx
  frontend/src/components/pages/public/Home.jsx
Labels: Frontend

#14 feat: tela de espera
  backend/controllers/courseController.js
  backend/controllers/userController.js
  backend/models/Course.js
  backend/public/course_valid.xlsx
  frontend/package.json
  frontend/src/App.jsx
  frontend/src/components/form/HourglassLoader.jsx
  frontend/src/components/pages/auth/Waiting.jsx
  frontend/src/components/pages/auth/service/userService.js
  frontend/tailwind.config.js
Labels: Frontend

#13 feat: Criação da tela de ListarDisciplinas, bem como a criação das dockstrings que faltavam
  frontend/src/App.jsx
  frontend/src/components/pages/coordinator/DisciplineManagement.jsx
  frontend/src/components/pages/coordinator/ListDisciplines.jsx
Labels: Frontend

#15 feat: criação das telas Help Center e Forgot Password + atualização visual da Home e About
  frontend/src/App.jsx
  frontend/src/components/CursorFollower.jsx
  frontend/src/components/pages/auth/ForgotPassword.jsx
  frontend/src/components/pages/auth/HelpCenter.jsx
  frontend/src/components/pages/auth/Login.jsx
  frontend/src/components/pages/auth/Register.jsx
  frontend/src/components/pages/public/About.jsx
  frontend/src/components/pages/public/Home.jsx
Labels: Frontend

#19 Criação das telas do modulo do Coordenador
  frontend/src/App.jsx
  frontend/src/components/pages/coordinator/Coordinator.jsx
  frontend/src/components/pages/coordinator/DashboardCoordinator.jsx
  frontend/src/components/pages/coordinator/ManageCourses.jsx
  package-lock.json
  package.json
Labels: Frontend

#20 feat: Criação da tabela subjects e pequena mudança no compose (remoção da versão)
  backend/src/migrations/20250924132506_subjects.js
  docker-compose.yml
Labels: Backend

#21 fix: fluxo de telas coordenador
  frontend/src/App.jsx
  frontend/src/components/pages/coordinator/Coordinator.jsx
  frontend/src/components/pages/coordinator/DashboardCoordinator.jsx
  frontend/src/components/pages/coordinator/DisciplineManagement.jsx
  frontend/src/components/pages/coordinator/ListDisciplines.jsx
  frontend/src/components/pages/coordinator/ListStudents.jsx
  frontend/src/components/pages/coordinator/ManageCourses.jsx
  frontend/src/components/pages/coordinator/ManageTeachers.jsx
  frontend/src/components/pages/coordinator/ViewCourses.jsx
Labels: Frontend

#22 feat: aprovação e reprovação de solicitação
  backend/src/controllers/accountController.js
  backend/src/controllers/userController.js
  backend/src/models/Account.js
  backend/src/routes/routes.js
  frontend/index.html
  frontend/package-lock.json
  frontend/package.json
  frontend/public/logo_grande.png
  frontend/src/App.jsx
  frontend/src/components/pages/auth/Register.jsx
  frontend/src/components/pages/auth/TermsModal.jsx
  frontend/src/components/pages/coordinator/Coordinator.jsx
  frontend/src/components/pages/coordinator/Requests.jsx
  package-lock.json
  package.json
Labels: Integração backend/frontend

#23 Gabriel
  backend/src/controllers/subjectController.js
  backend/src/controllers/userController.js
  backend/src/migrations/20250924132506_subjects.js
  backend/src/models/Subject.js
  backend/src/models/User.js
  backend/src/routes/routes.js
  frontend/src/components/pages/coordinator/DisciplineManagement.jsx
  frontend/src/components/pages/coordinator/ListDisciplines.jsx
  frontend/src/components/pages/coordinator/ListStudents.jsx
  frontend/vite.config.js
Labels: Bug, Frontend, Backend
