Repository Josmateussilva0110/EVOLVERE, pull requests merged in 2025-10, with the labels that each got.

#32 docs: docs adicionadas em account
  backend/src/controllers/accountController.js
  backend/src/controllers/courseController.js
  backend/src/migrations/20250924132506_subjects.js
  backend/src/models/Account.js
  backend/src/routes/routes.js
  frontend/src/components/pages/coordinator/CoordinatorProfile.jsx
  frontend/src/components/pages/coordinator/DisciplineManagement.jsx
  frontend/src/components/pages/coordinator/ManageTeachers.jsx
Labels: Documentação

#34 Fix: Ajuestei disciplinas e docstrings.
  backend/src/controllers/courseController.js
  backend/src/controllers/subjectController.js
  backend/src/models/Course.js
  backend/src/models/Subject.js
  backend/src/routes/routes.js
  frontend/src/App.jsx
  frontend/src/components/pages/coordinator/DisciplineManagement.jsx
  frontend/src/components/pages/coordinator/ListDisciplines.jsx
Labels: Backend

#36 fix: query de professores retornando a matricula
  backend/src/controllers/courseController.js
  backend/src/controllers/subjectController.js
  backend/src/controllers/userController.js
  backend/src/models/Account.js
  backend/src/models/Course.js
  backend/src/models/User.js
  backend/src/routes/userRoutes.js
  frontend/src/components/pages/coordinator/DisciplineManagement.jsx
  frontend/src/components/pages/coordinator/ListDisciplines.jsx
  frontend/src/components/pages/coordinator/ListStudents.jsx
  frontend/src/components/pages/coordinator/ManageTeachers.jsx
  frontend/src/hooks/useAuth.js
Labels: Integração backend/frontend

#37 feat: exibição foto de perfil na area do coordenador
  backend/src/controllers/accountController.js
  backend/src/controllers/userController.js
  backend/src/middleware/uploadImage.js
  backend/src/models/Account.js
  backend/src/models/User.js
  backend/src/routes/userRoutes.js
  frontend/src/components/form/RoleBadge.jsx
  frontend/src/components/pages/coordinator/Coordinator.jsx
  frontend/src/components/pages/coordinator/CoordinatorProfile.jsx
  frontend/src/utils/formatDate.js
Labels: Integração backend/frontend

#38 feat: edição de usuário completa
  backend/src/controllers/accountController.js
  backend/src/controllers/userController.js
  backend/src/models/User.js
  backend/src/routes/userRoutes.js
  backend/src/utils/userValidator.js
  frontend/src/components/pages/coordinator/CoordinatorProfile.jsx
  frontend/src/components/pages/coordinator/CoordinatorSettings.jsx
  frontend/src/components/pages/coordinator/Requests.jsx
  frontend/src/utils/formatDateRequests.js
Labels: Integração backend/frontend

#39 Criação das Telas do modulo de estudante
  frontend/src/components/pages/students/ManagementActivity.jsx
  frontend/src/components/pages/students/ManagementClasses.jsx
  frontend/src/components/pages/students/ManagementCoursesStudents.jsx
  frontend/src/components/pages/students/ManagementMaterials.jsx
  frontend/src/components/pages/students/ManagementMedals.jsx
  frontend/src/components/pages/students/ManagementPerformance.jsx
  frontend/src/components/pages/students/ManagementStudents.jsx
  frontend/src/routes/StudentRoutes.jsx
Labels: Frontend
